$primaryColor:magenta;

body{
    background-color: olive;
}
h1{
    background-color: $primaryColor;
    p{
        color: white;
    }
}
div{
    background-color: orange;
    h2{
        color: aqua;
        margin: 1rem;
    }
}

// kod yazarken noktalı vırgul sonuna koymazsanız hata alırsınız dıkkat