.shrink{
    background: lawngreen;
    margin: 30px;
    display: flex;
}

/* SHİRNK KÜÇÜLME ORANI DEMEK*/

.shrink *{
    width: 200px;
    height: 100px;
}

.box1{
    background-color: chocolate;
    flex-shrink: 0;
    /* bu hiç kuculmesın ıstersem*/
}

.box2{
    background-color: fuchsia;
    flex-shrink: 5;
}

.box3{
    background-color: yellow;
    flex-shrink: 2;
}

/* flex: 1 2 0.5rem 
1 flex grow
2 flex shrink
3 flex basis özelliği olarak alır

*/