.container2 {
    margin-top: 20px;
    background-color: purple;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .container2 * {
    background-color: orange;
    height: 50px;
  }
  
  .container2 header {
    width: 100%;
    background-image: url("https://picsum.photos/id/237/600/400");
    background-size: contain;
  }
  
  .container2 footer {
    width: 100%;
  }
  
  .container2 aside {
    /* width: calc((33.3333%) - (2rem/3)); */
    width: 20%;
  }
  
  .container2 main {
    /* width: calc((33.3333%) - (2rem/3)); */
    width: 55%;
  }
  
  .container2 article {
    /* width: calc((33.3333%) - (2rem/3)); */
    width: 20%;