body{
    margin: 0;
    font-size: 16px;

}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-areas: "header header header"
    "nav main aside"
    "footer footer footer";
}

header, footer, main, aside, nav{
    background-color: brown;
    color: azure;
    padding: 20px;
    border: 3px sandybrown solid;

}

/* isim vererek de bunları alanlarını yönlendirebilirsin */

header{
    /* grid-column: 1/span 3; */
    grid-area: header;
}

main{
    grid-area: main;
}

aside{
    grid-area: aside;
}

nav{
    grid-area: nav;
}
footer{
    /* grid-column: 1/span 3; */
    grid-area: footer;

}