body {
  background-color: rgb(39, 161, 161);
  margin: 80px 60px;
}

.boss {
  background-color: rgb(219, 106, 13);
  border-radius: 3px solid red;
  text-align: justify;
  height: 200px;
}

h1 {
  text-align: center;
  font-family: "Rubik Doodle Shadow", system-ui;
  font-size: 3.5rem;
}
.imaj {
  float: left;
  height: 15vh;
  margin: 10px;
}

button {
  height: 3.5em;
  background-color: red;
  float: right;
  margin-right: 60px;
}

p {
  font-size: 1rem;
  margin-right: 10px;
}
