* {
  /* box-sizing: border-box; */
  margin: 40px;
  /* padding: 0; */
  box-sizing: border-box;
  
  /* text-align: center; */
}
/* box-sizing: border-box özelliği kullanıldığında, belirtilen genişlik ve yükseklik değeri, iç içe geçmiş padding ve border'ları içerecek şekilde hesaplanır. Yani, padding ve border değerleri, toplam genişlik ve yükseklik içinde dahil edilir. */

.container {
  /* width: 100%;
  height: 100%; */
  border: 8px solid red;
  background-image: url(./deniz.jpg);
  background-size: contain;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 120px;
}

/* epeat tekararlamaması ıcın no-repaır kullandık

Cover, görüntünün yüksekliğini ekran yüksekliğine sığdırmaya ve genişliğini orantılı olarak uzatmaya çalışacaktır. 

Contain, görüntünün genişliğini ekran genişliğine sığdırmaya ve yüksekliği orantılı olarak uzatmaya çalışacaktır.

görüş alanına ortalamak istediğimi varsayalım. Bunu yapmak için tek yapmam gereken, .container içindeki background-position özelliğine değer olarak center center eklemek*/
.div1 {
  /* border: 5px solid rgb(199, 231, 19); */
  /* width: 200px; */
  /* height: 700px; */
  /* margin-top: 50px;
  margin-left: 250px; */
  /* text-align: center; */
  color: rgb(1, 1, 17);
  font-size: larger;
  /* padding-top: 65px; */
  display: flex;
  margin: auto;
}
.none {
  border: 3px none black;
  text-align: center;
  width: 200px;
  height: 180px;
  padding: 70px;
  margin-left: 180px;
  margin-right: 100px;
  
}

.dotted {
  border: 3px dotted black;
  text-align: center;
  width: 200px;
  height: 180px;
  padding: 70px;
  margin-left: 100px;
  margin-right: 100px;
}

.dashed {
  border: 3px dashed black;
  text-align: center;
  width: 200px;
  height: 180px;
  padding: 70px;
  margin-left: 100px;
  margin-right: 100px;
}

.div2 {
  /* border: 5px solid rgb(199, 231, 19); */
  text-align: center;
  color: blue;
  font-size: larger;
  display: flex;
  margin: auto;
}
.solid {
  border: 3px solid black;
  text-align: center;
  width: 200px;
  height: 180px;
  padding: 70px;
  margin-left: 180px;
  margin-right: 100px;
  
}

.double {
  border: 3px double black;
  text-align: center;
  width: 200px;
  height: 180px;
  padding: 70px;
  margin-left: 100px;
  margin-right: 100px;
}

.groove {
  border: 3px groove black;
  text-align: center;
  width: 200px;
  height: 180px;
  padding: 70px;
  margin-left: 100px;
  margin-right: 100px;
}


.div3 {
  /* border: 5px solid rgb(199, 231, 19); */
  text-align: center;
  color: blue;
  font-size: larger;
  display: flex;
  margin: auto;
}
.ridge {
  border: 3px ridge black;
  text-align: center;
  width: 200px;
  height: 180px;
  padding: 70px;
  margin-left: 180px;
  margin-right: 100px;
}

.inset {
  border: 3px inset black;
  text-align: center;
  width: 200px;
  height: 180px;
  padding: 70px;
  margin-left: 100px;
  margin-right: 100px;
}

.outset {
  border: 3px outset black;
  text-align: center;
  width: 200px;
  height: 180px;
  padding: 70px;
  margin-left: 100px;
  margin-right: 100px;
}