#container {
  border: solid 2px red;
background-color: cadetblue;
  /* display: inline-block; */
  /* display: flex; */
  width: fit-content;
  height: fit-content;
}

#x{display: inline-block;

}


#y{display: inline-block;
  margin: auto ;

}

#z{display: inline-block;
margin: auto  ;

}

.a1 {
  border: nane;
  width: 200px;
  height: 200px;
  margin-right: 100px;
  margin-bottom: 100px;
}

.a2 {
  border: dotted 2px rgba(255, 0, 0, 0.84);
  width: 200px;
  height: 200px;
  margin-right: 100px;
  margin-bottom: 100px;
}
.a3 {
  border: dashed 2px red;
  width: 200px;
  height: 200px;
  margin-right: 100px;

}

.b1 {
  border: solid 2px red;
  width: 200px;
  height: 200px;
  margin-bottom: 100px;
  margin-right: 100px;
 
 
}

.b2 {
  border: double 2px red;
  width: 200px;
  height: 200px;
  margin-bottom: 100px;
  margin-right: 100px;
 
}
.b3 {
  border: groove 2px red;
  width: 200px;
  height: 200px;
  margin-right: 100px;
}


.c1 {
  border: ridge 2px black;
  width: 200px;
  height: 200px;
margin-bottom: 100px;
 
}

.c2 {
  border: inset 2px black;
  width: 200px;
  height: 200px;
  margin-bottom: 100px;
}
.c3 {
  border: outset 2px black;
  width: 200px;
  height: 200px;
}
