#container {
  border: solid 2px red;
  background-color: aqua;
  /* display: inline-block; */
  /* display: flex; */
  /* width: fit-content;
  height: fit-content; */
}

#x{margin: auto;
  display: inline-flex block;

}

.a1 {
  border: solid 2px red;
  width: 200px;
  height: 200px;
  margin-right: 100px;
  margin-bottom: 100px;
}

.a2 {
  border: solid 2px rgba(255, 0, 0, 0.84);
  width: 200px;
  height: 200px;
  margin-right: 100px;
  margin-bottom: 100px;
}
.a3 {
  border: solid 2px red;
  width: 200px;
  height: 200px;
  margin-right: 100px;

}

.b1 {
  border: solid 2px red;
  width: 200px;
  height: 200px;
  margin: 100px auto;
 
}

.b2 {
  border: solid 2px red;
  width: 200px;
  height: 200px;
 
}
.b3 {
  border: solid 2px red;
  width: 200px;
  height: 200px;
}


.c1 {
  border: solid 2px black;
  border: solid 2px red;
  width: 200px;
  height: 200px;
 
}

.c2 {
  border: solid 2px black;
  border: solid 2px red;
  width: 200px;
  height: 200px;
}
.c3 {
  border: solid 2px black;
  border: solid 2px red;
  width: 200px;
  height: 200px;
}
