*{
    /* margin: 0px ; */
    /* background-image: url(./background_image.jpg); */
    /* box-sizing: border-box; */
    background-size: contain;
  background-size: cover;
  background-repeat: no-repeat;

}
body{
    background-image: url(./background_image.jpg);

}
h1 {
    font-size: 3rem; color: blue;
    /* border: 2px solid red; */
    text-align: center;
    color: whitesmoke;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: 'Lemon', serif;
    /* GOOGLE FONTDAN GELEN KISIM */
  
   
}

h5{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
}

.bigbox{
    color:  white;
    background-color: rgb(31, 29, 29, 0.9);
    text-align: center;
    margin: auto;
    margin-top: 50px;
    height: fit-content;
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-top: 30px;

}
.box1{
    /* border: 2px solid red; */
    height: 60px;
}
.box4{
    height: 80px;
}
.box5{
    /* border: solid 2px red; */
    text-align: left;
    padding-left: 90px;
}
.box6{
     /* border: solid 2px red; */
     text-align: left;
     padding-left: 90px;
}
.boxfeed{
    height: 180px;
    /* border: 2px solid red; */
    padding-left: 30px;
    padding-right: 30px;
}

.nameinput{
    width: 300px;
    height: 30px;
}
.ageinput{
    width: 300px;
    height: 30px;

}

.mailinput{
    width: 300px;
    height: 30px;
}
.inputselect{
    width: 300px;
    height: 30px;
}
.subclass{
   color: rgb(235, 225, 225);
   background-color: red;
   border-radius: 20px;
   width: 30%;
   height: 50px;
   font-size: large;
   
}
.text1{
    height: 100px;
}