body{
    border: 2px solid rgb(244, 8, 8);
    background-repeat: no-repeat; 
    /* background-image: url(); */

}

div{
    background-color: rgba(165, 213, 197, 0.7);
    width: 100vw;
    height: 220px;
    text-align: justify;
    /* overflow: scroll; */
}

.imaj{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 20px;
    width: 30%;
    height: 22vh;
    border-radius: 20px;
    
    background-size: cover;
} 

.my-button{
  width: 10vw; 
  height: 8vh;
  float :right;
  margin-top: 50px;
  border-radius: 10px;

  
}