body{
    border: 2px solid rgb(244, 8, 8);
}

div{
    background-color: rgba(165, 213, 197, 0.7);
    width: 100vw;
    height: 200px;
}

.imaj{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 20px;
    width: 30%;
    height: 30vh;
    
    background-size: cover;
} 