
*{
    border: 2px solid lawngreen;
}

body {
    border: 3px solid red;
}

.box3{
    background-color: blue;
    width: 40%;
    height: 300px;
} 

/* box3 -box2 nın perantı -box2 child eger box1 degerıne vw yerıne dıger degerlerı verseydık box1 de box 2 nın chıldı olacaktı*/

/* yuzde ve vw,rem  değişken yanı relative değerlerdir */

/* px , cm gibi değerler absolute sabit değerlerdir */
.box2{
    background-color: brown;
    width: 450px;
    height: 50%;
}
/*  bu ifade (wv) tarayıcı baz alır genıslık ve yukseklıkte width: 50vw;
height: 20vw; */
.box1{
    background-color: aqua;
    width: 50vw;
    height: 20vw;
}