span{
    display: flex;
    /* display: flex; CSS özelliği, bir container (kap) elementinin içindeki öğeleri düzenlemek ve hizalamak için esnek bir model sağlar. Bu özellik, öğeleri yatay veya dikey düzende hizalayabilmenizi, boşlukları ayarlayabilmenizi ve ekstra özelliklerle bir dizi düzenleme seçeneği sunar. */
    justify-content: center;
    align-items: center;
}